<% @title = "アカウント情報" %>
<h1><%= @title %></h1>

<%= @teacher_member.email %>
<%= @teacher_member.family_name %>
<%= @teacher_member.given_name %>
<%= @teacher_member.family_name_kana %>
<%= @teacher_member.given_name_kana %>
<%= @teacher_address.prefecture %>
パスワード *********
<%= link_to "アカウント情報編集", :edit_teacher_account %>
<%= link_to "パスワード変更", :edit_teacher_password %>