<% @title = "回答(確認)"  %>

<div class="new_board_message row justify-content-center my-5">
  <div class="col-8">
  <div class="card">
    <h4 class="card-header">
      回答、コメントする(確認)
    </h4>
    <div class="card-body">
    <%= form_with model: @answer, url: :teacher_question_answers do |f| %>
      <%= render "confirming_form", f:f %>
      <div class="mt-4">
        <%= f.submit "この内容で投稿する", class: "btn btn-outline-secondary btn-block mx-auto"  %>
        <%= f.submit "訂正", name: "correct" ,class: "btn btn-outline-secondary btn-block mx-auto"  %>
        <%= link_to "キャンセル", teacher_question_path(@question), class: "btn btn-outline-secondary btn-block col-3 mb-3 mx-auto" %>
      </div>
    <% end %>
    </div>
  </div>
  </div>
</div>