<% @title = "ログイン" %>

<div id="login-form">
  <h1><%= @title %></h1>

  <%= form_with model: @form, url: :teacher_session do |f| %>
    <% p = FormPresenter.new(f,self)  %>

    <%= p.text_field_block(:email, "メールアドレス") %>

    <%= p.password_field_block(:password, "パスワード") %>

    <%= f.submit "ログイン" %>
  <% end %>

</div>