<% @title = "学生トップページ"  %>
<h1><%= @title %></h1>

<%= render partial: "board_message", collection: @board_messages %>

<%= link_to "過去のお知らせ一覧" , :student_board_messages %>
<%= link_to "質問する", :student_questions %>
<%= link_to "自分の質問を見る", :student_my_questions %>