<% p = QuestionPresenter.new(open_question,self) %>

<% unless open_question.closed %>
  <div class=" card col-lg-5 my-4" style="height: 18rem">
    <div class="card-body">
      <h6 class="card-subtitle my-2 text-muted"><%= p.book_name %></h6>
      <h5 class="title-overflow my-3"><%= p.title  %></h5>
      <p class="text-overflow card-text overflow-hidden"><%= p.body %></p>
    </div>
    <div class="row d-flex mx-2 my-2 justify-content-end">
      <p class="col"><%= link_to "詳細を見る", [ :teacher, open_question ] %></p>
      <div class="col text-end"><%= p.posted_at %></div>
    </div>
  </div>
<% end %>