<% p = QuestionPresenter.new(open_question,self) %>
<% unless open_question.closed %>
<div class="row justify-content-center">
  <div class="card d-frex flex-column mb-2 col-6 justify-content-center">
    <div class="card-body">
      <p><%= p.book_name %></p>
      <h5><%= p.title  %></h5>
      <p class="card-text"><%= p.body %></p>
      <p><%= link_to "詳細を見る", [ :teacher, open_question ] %></p>
      <div class="float-end"><%= p.posted_at %></div>
    </div>
  </div>
</div>
<% end %>