<% p = BoardMessagePresenter.new(board_message,self) %>
<%# <div class="row justify-content-center"> %>
  <div class="card d-flex flex-column mb-2 col-8 justify-content-center" >
    <div class="card-body">
      <h5><%= p.subject %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= p.contributor %></h6>
      <p class="card-text"><%= safe_join(p.body.split("\n"), tag(:br)) %></p>
      <span class="badge bg-secondary"><%= p.tag %></span>
      <%# ログイン中のユーザーと投稿したユーザーが同じならば"編集"及び""削除"アイコンを表示させる。 %>
      <% if current_teacher_member %>
        <% if board_message.teacher_member == current_teacher_member %>
          <%= link_to [ :teacher , board_message ], method: :delete ,class: "float-end" do %>
            <i class="fas fa-trash-alt board_icon" style="color: #4E7199;"></i>
          <% end %>
        <% end %>
        <% if board_message.teacher_member == current_teacher_member %>
          <%= link_to [ :edit_teacher , board_message ],class: "float-end me-2 board_icon" do %>
            <i class="fas fa-edit board_icon" style="color: #4E7199;"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<%# </div> %>