<% @title = "コンソール" %>
<h1><%= @title %></h1>

<ul>
  <li><%= link_to "学生管理", :teacher_student_members %></li>
  <li><%= link_to "生徒のログイン、ログアウト記録", :teacher_student_events if current_teacher_member %></li>
</ul>

<% @board_messages.each do |m|  %>
  <%= m.subject %>
  <%= safe_join(m.body.split("\n"), tag(:br)) %>
  <%= m.tag %>
  <%= m.teacher_member.family_name %>
  <%= link_to "編集", [ :edit_teacher , m] if m.teacher_member == current_teacher_member %>
  <%= link_to "削除", [ :teacher , m ], method: :delete %>
<% end %>