<% @title = "ログイン" %>

<div class="row justify-content-center ">
  <div class="login-form col-3 border rounded ">
    <h1 class="logo">Metista</h1>
    <%= form_with model: @form, url: :student_session do |f| %>
      <% p = FormPresenter.new(f,self)  %>
      <%= p.email_field_block(:student_number, "学生ID", placeholder: "学生ID", class: "form-control col-8") %>
      <%= p.password_field_block(:password, "パスワード", placeholder: "パスワード", class: "form-control") %>
      <p class="form-text">パスワードは8文字以上で文字と数字を含みます。</p>
      <%= content_tag(:p, flash.alert, class: "alert alert-danger") if flash.alert %>
      <%= f.submit "ログイン", class: "btn btn-outline-secondary col-12" %>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "次回から自動でログインする" %>
      </div>
    <% end %>
  </div>
</div>