<nav class="header navbar navbar-dark fixed-top" style="background-color:#4E7199">
  <%#  中サイズで以下表示されるサイドオフキャンバスナビゲーションバー%>
  <%  if current_teacher_member %>
    <div class="d-lg-none ms-2">
      <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-expanded="false" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"></span>
      </button>
    </div>
  <% end %>

  <%= link_to "Metista", :teacher_root, class: "logo nav-link navbar-brand" %>

  <%= content_tag(:span, flash.notice,class: "header-flash") if flash.notice %>

  <%= link_to "ログイン", :teacher_login , class: "nav-link text-light ms-auto" unless current_teacher_member %>

  <% if current_teacher_member %>
    <div class="dropdown ms-auto">
      <a class="dropdown-toggle" type="button" href="#" id="accountLink" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-user-circle account_icon"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountLink">
        <li><%= link_to "マイアカウント", :teacher_account, class: "dropdown-item" %></li>
        <li><%= link_to "アカウント情報変更", :edit_teacher_account, class: "dropdown-item" %></li>
        <li><%= link_to "パスワード変更", :edit_teacher_password, class: "dropdown-item" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">ヘルプ</a></li>
        <li><%= link_to "ログアウト", :teacher_session , method: :delete, class: "dropdown-item"%></li>
      </ul>
    </div>
  <% end %>
</nav>
  <%# 中サイズ以下の時に出現するトグルバーの中身 %>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>  
      <%# <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">オフキャンバス</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>
      </div>
      <div class="offcanvas-body"> %>
        <%# <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">リンク</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ドロップダウン
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">メニュー1</a></li>
              <li><a class="dropdown-item" href="#">メニュー2</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">その他</a></li>
            </ul>
          </li>
        </ul> %>
        <%# <form class="d-flex">
          <input type="search" class="form-control me-2" placeholder="検索" aria-label="検索">
          <button class="btn btn-outline-success flex-shrink-0" type="submit">検索</button>
        </form> %>
      <%# </div> %>
    </div>