<nav class="header navbar navbar-dark fixed-top" style="background-color:#4E7199">
  <%#  中サイズで以下表示されるサイドオフキャンバスナビゲーションバー%>
  <%  if current_teacher_member %>
    <div class="d-lg-none ms-2">
      <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-expanded="false" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"></span>
      </button>
    </div>
  <% end %>

  <%= link_to "Metista", :teacher_root, class: "logo nav-link navbar-brand" %>

  <%= content_tag(:span, flash.notice,class: "header-flash") if flash.notice %>

  <%= link_to "ログイン", :teacher_login , class: "nav-link text-light ms-auto" unless current_teacher_member %>

  <% if current_teacher_member %>
    <div class="dropdown ms-auto">
      <a class="dropdown-toggle" type="button" href="#" id="accountLink" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-user-circle account_icon"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountLink">
        <li><%= link_to "マイアカウント", :teacher_account, class: "dropdown-item" %></li>
        <li><%= link_to "アカウント情報変更", :edit_teacher_account, class: "dropdown-item" %></li>
        <li><%= link_to "パスワード変更", :edit_teacher_password, class: "dropdown-item" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">ヘルプ</a></li>
        <li><%= link_to "ログアウト", :teacher_session , method: :delete, class: "dropdown-item"%></li>
      </ul>
    </div>
  <% end %>
</nav>
<%= render "teacher/shared/side_toggle_navbar" %>