<div class="side-nav col-2 d-none d-lg-block overflow-auto">
  <ul class="nav flex-column ">
    <div class="border-bottom border-2">
      <li class="nav-link">
        <h4 class="nav-text">Q&A</h4>
      </li>
      <li class="nav-item">
        <%= link_to "質問に答える",  :teacher_questions, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Q&A 書籍管理", :teacher_books, class: "nav-link"%>
      </li>
    </div>
    <div class="border-bottom border-2">
      <li class="nav-link">
        <h4 class="nav-text">学生管理</h4>
      </li>
      <li class="nav-item">
        <%= link_to "学生管理", :teacher_student_members, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "生徒のログイン、ログアウト記録", :teacher_student_events, class: "nav-link" %>
      </li>
    </div>
    <div class="border-bottom border-2">
      <li class="nav-link">
        <h4 class="nav-text">お知らせ</h4>
      </li>
      <li class="nav-item">
        <%= link_to "掲示板", :teacher_board_messages, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "掲示板投稿", :new_teacher_board_message, class: "nav-link" %>
      </li>
    </div>
    <div class="border-bottom border-2">
      <li class="nav-item">
        <%= link_to "ログアウト", :teacher_session , method: :delete, class: "nav-link" %>
      </li>
    </div>
  </ul>
</div>