<%= f.fields_for :student_member, f.object.student_member do |ff| %>

  <% p = StudentMemberFormPresenter.new(ff,self)  %>

  <%= p.text_field_block(:student_number, "学生番号", class: "form-control my-2", placeholder: "10桁の数字を入力してください") %>
  <%= p.gender_field_block %>
  <%= p.full_name_block( :family_name, :given_name, "氏名") %>
  <%= p.full_name_block_kana( :family_name_kana, :given_name_kana, "フリガナ") %>
  <%= p.date_field_block(:birth_day , "生年月日", class: "form-control my-2") %>
  <%= p.text_field_block(:email, "メールアドレス", class: "form-control") %>
  <div class="row">
    <%= p.text_field_block(:grade, "学年",class: "form-control col-6") %>
    <%= p.text_field_block(:a_class, "クラス", class: "form-control col-6") %>
  </div>
  <%= p.text_field_block(:homeroom_teacher , "担任名", class: "form-control") %>
  <%= p.text_field_block(:telephone_number , "電話番号", class: "form-control") %>
  <%= p.text_field_block(:emergency_contact , "緊急連絡先", class: "form-control") %>
  <div class="row">
    <%= p.date_field_block(:start_date, "入学日", class: "form-control my-2 col-5") %>
    <%= p.date_field_block(:graduation_date, "卒業予定日", class: "form-control my-2 col-5") %>
  </div>
  <%= p.suspended_check_box %>

<% end %>