<% @title = "生徒一覧"  %>
<h1><%= @title %></h1>

<%= render "search_form" %>

<%= paginate @student_members %>

<%= render partial: "student_member", collection: @student_members %>

<%= paginate @student_members %>

<%= link_to "新規登録", :new_teacher_student_member %>