<% @title = "生徒詳細情報"  %>
<% p1 = StudentMemberPresenter.new(@student_member,self)  %>

<div class="row justify-content-center my-5">
  <div class="col-8">
    <div class="card">
      <h4 class="card-header">
        アカウント情報
      </h4>
      <div class="card-body">
        <table class="table table-borderless">
          <thead>
            <th scope="col-1"><h4>基本情報</h4></th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">学生番号</th>
              <td><%= p1.student_number %></td>
            </tr>
            <tr>
              <th scope="row">氏名</th>
              <td><%= p1.full_name %></td>
            </tr>
            <tr>
              <th scope="row">氏名(カナ)</th>
              <td><%= p1.full_name_kana %></td>
            </tr>
            <tr>
              <th scope="row">性別</th>
              <td><%= p1.gender %></td>
            </tr>
            <tr>
              <th scope="row">生年月日</th>
              <td><%= p1.birth_day %></td>
            </tr>
            <tr>
              <th scope="row">登録メールアドレス</th>
              <td>*********</td>
            </tr>
            <tr>
              <th scope="row">登録パスワード</th>
              <td>*********</td>
            </tr>
            <tr>
              <th scope="row">入学日</th>
              <td><%= p1.start_date %></td>
            </tr>
            <tr>
              <th scope="row">卒業予定日</th>
              <td><%= p1.graduation_date %></td>
            </tr>
            <tr>
              <th scope="row"></th>
            </tr>
            <tr>
              <th scope="row"><h4>クラス情報</h4></th>
            </tr>
            <tr>
              <th scope="row">クラス学年</th>
              <td><%= p1.home_room %></td>
            </tr>
            <tr>
              <th scope="row">担任</th>
              <td><%= p1.homeroom_teacher %></td>
            </tr>
            <tr>
              <th scope="row">文理</th>
              <td><%= p1.bunri %></td>
            </tr>
            <tr>
              <th scope="row"></th>
            </tr>
            <%= render "student_home_address" if @student_member.home_address %>
            <tr>
              <th scope="row"></th>
            </tr>
            <%= render "student_parents_address" if @student_member.parents_address %>
          </tbody>
        </table>
        <div class="text-center">
          <% unless @student_member.suspended %>
            <p>このアカウントは有効です。</p>
          <% else %>
            <p>このアカウントは停止されています。</p>
          <% end %>
          <h5><%= link_to "情報を編集するにはこちら", [ :edit, :teacher, :student_member ] %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
