<% @title = "生徒詳細情報"  %>
<% p1 = StudentMemberPresenter.new(@student_member,self)  %>
<% p2 = AddressPresenter.new(@student_member.home_address, self)  %>

<div class="row justify-content-center my-5">
  <div class="col-8">
    <div class="card">
      <h4 class="card-header">
        アカウント情報
      </h4>
      <div class="card-body">
        <table class="table table-borderless">
          <thead>
            <th scope="col-1"><h4>基本情報</h4></th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">学生番号</th>
              <td><%= p1.student_number %></td>
            </tr>
            <tr>
              <th scope="row">氏名</th>
              <td><%= p1.full_name %></td>
            </tr>
            <tr>
              <th scope="row">氏名(カナ)</th>
              <td><%= p1.full_name_kana %></td>
            </tr>
            <tr>
              <th scope="row">性別</th>
              <td><%= p1.gender %></td>
            </tr>
            <tr>
              <th scope="row">生年月日</th>
              <td><%= p1.birth_day %></td>
            </tr>
            <tr>
              <th scope="row">登録メールアドレス</th>
              <td>*********</td>
            </tr>
            <tr>
              <th scope="row">登録パスワード</th>
              <td>*********</td>
            </tr>
            <tr>
              <th scope="row">入学日</th>
              <td><%= p1.start_date %></td>
            </tr>
            <tr>
              <th scope="row">卒業予定日</th>
              <td><%= p1.graduation_date %></td>
            </tr>
            <tr>
              <th scope="row"></th>
            </tr>
            <tr>
              <th scope="row"><h4>クラス情報</h4></th>
            </tr>
            <tr>
              <th scope="row">クラス学年</th>
              <td><%= p1.home_room %></td>
            </tr>
            <tr>
              <th scope="row">担任</th>
              <td><%= p1.homeroom_teacher %></td>
            </tr>
            <tr>
              <th scope="row">文理</th>
              <td><%= p1.bunri %></td>
            </tr>
            <tr>
              <th scope="row"></th>
            </tr>
            <tr>
              <th scope="row"><h4>住所情報</h4></th>
            </tr>
            <tr>
              <th scope="row">郵便番号</th>
              <td><%= p2.postal_code %></td>
            </tr>
            <tr>
              <th scope="row">市区町村</th>
              <td><%= p2.city %></td>
            </tr>
            <tr>
              <th scope="row">番地</th>
              <td><%= p2.address1 %></td>
            </tr>
            <tr>
              <th scope="row">建物、部屋番号等</th>
              <td><%= p2.address2 %></td>
            </tr>
            <tr>
              <th scope="row"></th>
            </tr>
            <% if @student_member.parents_address %>
              <% p3 = AddressPresenter.new(@student_member.parents_address, self)  %>
              <tr>
                <th scope="row"><h4>保護者住所情報</h4></th>
              </tr>
              <tr>
                <th scope="row">郵便番号</th>
                <td><%= p3.postal_code %></td>
              </tr>
              <tr>
                <th scope="row">市区町村</th>
                <td><%= p3.city %></td>
              </tr>
              <tr>
                <th scope="row">番地</th>
                <td><%= p3.address1 %></td>
              </tr>
              <tr>
                <th scope="row">建物、部屋番号等</th>
                <td><%= p3.address2 %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="text-center">
          <% unless @student_member.suspended %>
            <p>このアカウントは有効です。</p>
          <% else %>
            <p>このアカウントは停止されています。</p>
          <% end %>
          <h5><%= link_to "情報を編集するにはこちら", [ :edit, :teacher, :student_member ] %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
