<% @title = "生徒詳細情報"  %>
<h1><%= @title %></h1>

<% p1 = StudentMemberPresenter.new(@student_member,self)  %>
<%= p1.student_number %>
<%= p1.email %>
<%= p1.full_name %>
<%= p1.full_name_kana %>
<%= p1.gender %>
<%= p1.telephone_number %>
<%= p1.emergency_contact %>
<%= p1.home_room %>
<%= p1.homeroom_teacher %>
<%= p1.birth_day %>
<%= p1.start_date %>
<%= p1.graduation_date %>

<% if @student_member.home_address %>
  <% p2 = AdressPresenter.new(@student_member.home_address, self)  %>
  <%= p2.home_address.postal_code %>
  <%= p2.home_address.prefecture %>
  <%= p2.home_address.city %>
  <%= p2.home_address.address1 %>
  <%= p2.home_address.address2 %>
<% end %>


<%= p1.suspended_mark %>
<% unless @student_member.suspended %>
  <p>このアカウントは有効です。</p>
<% else %>
  <p>このアカウントは停止されています。</p>
<% end %>


<% if @student_member.parents_address %>
  <%= @student_member.parents_address.postal_code %>
  <%= @student_member.parents_address.prefecture %>
  <%= @student_member.parents_address.city %>
  <%= @student_member.parents_address.address1 %>
  <%= @student_member.parents_address.address2 %>
<% end %>
<%= link_to "編集", [ :edit, :teacher, :student_member ] %>