<!DOCTYPE html>
<html>
  <head>
    <title><%= browser_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'student', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="container">
        <%= render "student/shared/header" %>
        <div class="main-content row d-lg-flex justify-content-center pb-3">
          <%= render "student/shared/side_navbar" if current_student_member %>
          <div class="content col-8"><%= yield %></div>
          <% if current_student_member %><div class="col-lg-2"></div><% end %>
        </div>
        <%= render "student/shared/nav_footer" if current_student_member %>
        </div>
    </div>
  </body>
</html>
