<!DOCTYPE html>
<html>
  <head>
    <title><%= browser_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "teacher", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag 'teacher', 'data-turbolinks-track': true %>
  </head>

  <body>
    <div id="wrapper">
      <div id="container">
        <%= render "teacher/shared/header" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>