<!DOCTYPE html>
<html>
  <head>
    <title><%= browser_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "teacher", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag 'teacher', 'data-turbolinks-track': true %>
  </head>

  <body>
    <div id="wrapper">
      <div id="container">
        <%= render "teacher/shared/header" %>
        <div class="main-content row d-lg-flex justify-content-center pb-3">
          <%= render "teacher/shared/side_navbar" if current_teacher_member %>
          <div class="content col-8"><%= yield %></div>
          <div class="col-lg-2"></div>
        </div>
        <%= render "teacher/shared/footer" %>
      </div>
    </div>
  </body>
</html>